.tri-bar{
    display: none;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .nav-cont{
        display: none;
    }
    .buy-now-button{
        display: none;
    }
    .tri-bar{
        display: block;
    }
    .nav-list{
        justify-content: flex-end;
        margin-left: 200px;
    }
    .heading-options{
        width: 46px;
        height: 32px;
        gap: 30px;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 664px;
    }
    .left-part{
        align-items: center;
        justify-content: center;
        width: 92%;
        height: 305px;
        padding-bottom: 60px;
        gap: 30px;
    }
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .actions{
        justify-content: center;
        padding-top: 50px;
    }
    .right-part{
        width: 92%;
        height: 309px;
    }
    #top-section{
        height: 750px;
    }
    .top-section-content{
        height: 750px;
    }
    .asana{
        animation: none;
        top: 350px;
        right: 110px;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
    }
    .calendar{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 15px;
    }
    .google{
        animation: none;
        top: 370px;
        left: 110px;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
    }
    .weave{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 160px;
        right: 220px;
    }
    .paypal{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        left: 120px;
        top: 480px;

    }
    .attlassian{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        top: 370px;
        left: 400px;

    }
    .google-ads{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 50px;
        left: 300px;
    }

    .why-front-title{
        width: 75%;
    }
    .why-small{
        text-align: center;
    }
    .why-large{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #pricing-section{
        height: 1013px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .pricing-title{
        margin-bottom: 1px;
    }
    .plans-feature-list{
        height: 833px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

    }
    .pricing-table{
        flex-direction: column;
    }
    .plan-info{
        width: 90%;
        height: 373px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }
    .plan-info:hover{
        box-shadow: initial;
    }
    .plan-header{
        width: 85%;
        height: 170px;
        align-items: center;

    }
    .plan-price{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .plan-term{
        justify-content: center;
        align-items: end;
        height: 100%;
    }
    .plan-footer{
        justify-content: center;
        align-items: center;
    }
    .row-features{
        width: 90%;
        height: 430px;
        margin-top: 50px;
    }
    .hire-us-section{
        height: 984px;
        flex-direction: column;
    }
    .hire-left{
        width: 90%;
        height: 240px;
        gap: 60px;
        flex-direction: row;
    }
    .hire-left-top{
       width: 55%;
       height: 180px;
       gap: 32px;
    }
    .hire-us-title{
        width: 100%;
        height: 100px;
        gap: 34px;
    }
    .hire-us-top-title{
        gap: 10px;
    }
    .hire-left-bottom{
        width: 27%;
        height: 133px;
        gap: 30px;
    }

    .hire-right{
        width: 90%;
        height: 684px;
        padding: 30px;
        gap: 10px;
    }
    .footer-cont{
        width: 90%;
        height: 501px;    
    }
    .footer-frame{
        width: 100%;
        height: 381px;
    }
    .frame14{
        width: 35%;
    }
    .frame15{
        flex-direction: column;
        width: 55%;
        height: 381px;
        gap: 49px;
    }
    .frame23{
        width: 100%;
        height: 166px;
        gap: 100px;
    }
    .frame24{
        width: 100%;
        height: 166px;
        gap: 100px;
    }

}