.tri-bar{
    display: none;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .nav-cont{
        display: none;
    }
    .buy-now-button{
        display: none;
    }
    .tri-bar{
        display: block;
    }
    .nav-list{
        justify-content: flex-end;
        margin-left: 200px;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 664px;
    }
    .left-part{
        align-items: center;
        justify-content: center;
        width: 92%;
        height: 305px;
        padding-bottom: 60px;
        gap: 30px;
    }
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .actions{
        justify-content: center;
        padding-top: 50px;
    }
    .right-part{
        width: 92%;
        height: 309px;
    }
    .top-section{
        height: 750px;
    }
    .top-section-content{
        height: 750px;
    }
    .asana{
        animation: none;
        position: relative;
        top: 10px;
        left: 700px;
    }
    .calendar{
        animation: none;
    }
    .google{
        animation: none;
    }
    .weave{
        animation: none;
    }
    .paypal{
        animation: none;

    }
    .attlassian{
        animation: none;
    }
    .google-ads{
        animation: none;
    }



}