

@media (max-width: 767px){
      .nav-cont{
        display: none;
    }
    .buy-now-button{
        display: none;
    }
    .tri-bar{
        display: block;
    }
    .nav-list{
        justify-content: flex-end;
        margin-left: 50px;
    }
    #top-section{
        height: 705px;
    }
    .top-section-content{
        height: 680px;
    }
    .heading-options{
        width: 46px;
        height: 32px;
        gap: 30px;
    }
    #background-cont{
        width: 100%;
        height: 517px;
        top: -1px;
        left: 1px;
        position: absolute;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 594px;
        padding: 4px;
        gap: 10px;
    }
    .left-part{
        width: 90%;
        height: 235px;

    }
    .right-part{
        width: 98%;
        height: 309px;
    }
     .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .actions{
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .asana{
        animation: none;
        top: 280px;
        right: 10px;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
    }
    .calendar{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 25px;
        right: 20px;
    }
    .google{
        animation: none;
        top: 280px;
        left: 2px;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
    }
    .weave{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 140px;
        right: 60px;
    }
    .paypal{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        left: 4px;
        top: 380px;

    }
    .attlassian{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        top: 280px;
        left: 200px;

    }
    .google-ads{
        animation: none;
        box-shadow:  0px 0px 10px 5px #E2E2E2;
        bottom: 50px;
        left: 200px;
    }
    #why-front-section{
        height: 488px;

    }
    .why-front-title{
        width: 100%;
        height: 137px;
        gap: 10px;
    }
    .why-small{
        text-align: center;
    }
    .bullets-list{
        flex-direction: column;
        width: 100%;
        height: 251px;
        gap: 17px;
        justify-content: baseline;
    }  
    .bullet{
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        width: 80%;
        height: 50px;
    }
    .left-wing-first{
        display: none;
    }
    .left-wing{
        display: none;
    }
    .right-wing{
        display: none;
    }
    .right-wing-last{
        display: none;
    }
    .front-title{
        width: 75%;
        height: 19px;
        gap: 4px;
        justify-content: flex-start;
    }
    .top-container{
        width: 50px;
        height: 50px;
    }
    #pricing-section{
        width: 100%;
        height: 1451px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1px;
    }
    .pricing-title{
        margin-bottom: 1px;
    }
    .plans-feature-list{
        width: 100%;
        height: 1271px;
        gap: 30px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .pricing-table{
        width: 90%;
        height: 397px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E2E2E2;
        margin-top: 40px;

    }
    .plan-info{
        width: 75%;
        height: 194px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
        margin-top: 20px;

    }
    .plan-info:hover{
        box-shadow: initial;
    }
    .plan-header{
        width: 75%;
        height: 194px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row-features{
        width: 90%;
        height: 844px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        margin-top: 225px;
    }
    .features-row-one{
        width: 100%;
        height: 426px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .features-row-two{
        width: 100%;
        height: 408px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .plan-feature-item{
        width: 100%;
        height: 219px;
        gap: 30px;
    }
    .hire-us-section{
        width: 100%;
        height: 1337px;
        flex-direction: column;
        padding: 25px;
        justify-content: flex-start;
        margin-top: 25px;
    }
    .hire-left{
        width: 100%;
        height: 457px;
        gap: 60px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1px;
    }
    .hire-left-top{
        width: 95%;
        height: 100px;
        gap: 34px;
        text-align: center;

    }
    .hire-left-bottom{
        width: 95%;
        height: 133px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .bottom-person{
        width: 100%;
        height: 43px;
        gap: 4px;
        justify-content: center;
        align-items: center;

    }
    .hire-right{
        width: 100%;
        height: 880px;
        gap: 10px;
    }
    .hire-form-cont{
        width: 95%;
        height: 820px;
        gap: 37px;
    }
    .form-data{
        width: 90%;
        height: 678px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    .form-group{
        width: 100%;
        height: 44px;
        gap: 20px;
        flex-direction: column;

    }
    .email-input{
        width: 100%;
        height: 44px;
        gap: 20px;
        margin-top: 30px;
    }
    .name-input{
        width: 100%;
    }
    #budget-dd{
        width: 100%;
    }
    #country-dd{
        width: 100%;
    }
    #form-textarea{
        margin-top: 30px;
    }
    .ajax2-text{
        display: none;
    }
    .frame-bottom-border-two{
        display: none;
    }
    .footer-cont{
        width: 100%;
        height: 1152px;
        gap: 40px;
    }
    .footer-frame{
        width: 95%;
        height: 1032px;
        gap: 40px;
        flex-direction: column;
        align-items: center;

    }
    .frame14{
        width: 100%;
        height: 111px;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        width: 30%;
        height: 30px;
    }
    .footer-nav{
        width: 98%;
        height: 62px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-item-one{
        width: 100%;
        height: 21px;
        gap: 9px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu-item-two{
        width: 59%;
        height: 21px;
        gap: 9px;
        justify-content: center;
        align-items: center;

    }
    .frame15{
        width: 100%;
        height: 880px;
        gap: 49px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .frame23{
        width: 100%;
        height: 447px;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .frame24{
        width: 100%;
        height: 384px;
        gap: 49px;
        flex-direction: column;
        align-items: center;
    }
    .frame16{
        width: 38%;
        height: 229px;
        gap: 20px;
    }
    .frame17{
        width: 38%;
        height: 229px;
        gap: 20px;
    }
    .frame18{
        width: 38%;
        height: 229px;
        gap: 20px;
    }
    .frame19{
        width: 38%;
        height: 229px;
        gap: 20px;
    }
    .frame15-text{
        text-align: center;
    }
    .frame15-nav{
        text-align: center;
    }
    .frame16-menu-item{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .frame19-nav{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .frame19-icon-cont{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}