.top-header{
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 86px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.front-logo{
    height: 46px;
    width: 155px;
}

.heading-options{
    display: flex;
    align-items: center;
    width: 700px;
    height: 57px;
    padding-top: 6px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-right: 14px;
    gap: 30px;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 311px;
    height: 17px;
    background-color: aqua;
    gap: 20px;
}

.nav-cont{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #677788;
}
.buy-now-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: #2476FF;
    border: #2476FF;
    padding: 15px 25px;
    gap: 20px;
    color: white;

}