#top-section{
    width: 100%;
    height: 532px;
}

.top-section-content{
    width: 100%;
    height: 532px;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
}

/* #background-cont{
    width: 100%;
    height: 532px;
} */

/* .background-img{
    width: 100%;
    height: 532px;
} */

.img-divided{
    width: 100%;
    height: 532px;
}

.top-header{
    position: fixed;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
    width: 97%;
    height: 86px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.front-logo{
    height: 46px;
    width: 155px;
}

.heading-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 57px;
    padding-top: 6px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-right: 14px;
    border-right: 10px;
    gap: 30px;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    height: 25px;
    gap: 30px;
}

.nav-cont{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #677788;
}
.buy-now-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: #2476FF;
    border: #2476FF;
    padding: 15px 35px;
    gap: 20px;
    color: white;

}
.hero-section{
    display: flex;
    position: absolute;
    top: 106px;
    display: flex;
    width: 100%;
    height: 446px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aqua;
    opacity: .2;
}
.left-part{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 406px;
    background-color: burlywood;
    gap: 20px;
}
.right-part{
    width: 47%;
    height: 406px;
    background-color: coral;
}
.title{
    position: relative;
    top: 50px;
    width: 66%;
    height: 225px;
    gap: 11px;
    background-color: chartreuse;
}

.title-large{
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}
.title-small{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #677788;
}


.actions{
    position: relative;
    top: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    gap: 24px;
    background-color: darkviolet;
    padding-left: 15px;
}