#top-section{
    width: 100%;
    height: 532px;
}

.top-section-content{
    width: 100%;
    height: 532px;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
}

/* #background-cont{
    width: 100%;
    height: 532px;
} */

/* .background-img{
    width: 100%;
    height: 532px;
} */

.img-divided{
    width: 100%;
    height: 532px;
}

.top-header{
    position: fixed;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
    width: 97%;
    max-width: 1250px;
    height: 86px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.front-logo{
    height: 46px;
    width: 155px;
}

.heading-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 57px;
    padding-top: 6px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-right: 14px;
    border-right: 10px;
    gap: 30px;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    height: 25px;
    gap: 30px;
}

.nav-cont{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #677788;
}
.buy-now-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: #2476FF;
    border: #2476FF;
    padding: 15px 35px;
    gap: 20px;
    color: white;

}
.hero-section{
    display: flex;
    position: absolute;
    top: 106px;
    display: flex;
    width: 100%;
    height: 446px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}    
.left-part{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 406px;
    gap: 20px;
}
.right-part{
    width: 47%;
    height: 406px;
}
.title{
    position: relative;
    top: 50px;
    width: 334px;
    height: 225px;
    gap: 11px;
}

.title-large{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.title-small{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #677788;
}


.actions{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    width: 97.7%;
    height: 48px;
    gap: 24px;
    padding-left: 15px;
}
.fa-solid{
    gap: 10px;
    margin-right: 8px;
}
.play-button{
    width: 137px;
    height: 48px;
    border-radius: 30px;
    padding: 15px 25px;
    gap: 8px;
    background-color: blue;
    color: white;
    border: blue;
}

.asana{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 10px;
    left: 475px;
    padding: 16px;
    background-color: white;
}
.asana-pic{
    width: 48px;
    height: 48px;
}
.calendar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 200px;
    left: 450px;
    padding: 16px;
    background-color: white;
}

.calendar-pic{
    width: 48px;
    height: 48px;
}
.weave{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 30px;
    left: 350px;
    padding: 16px;
    background-color: white;
}
.weave-pic{
    width: 48px;
    height: 48px;
}

.paypal{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 120px;
    left: 30px;
    padding: 16px;
    background-color: white;
}
.paypal-pic{
    width: 48px;
    height: 48px;
}

.attlassian{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 360px;
    left: 220px;
    padding: 16px;
    background-color: white;
}
.attlassian-pic{
    width: 48px;
    height: 48px;
}

.google-ads{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 220px;
    left: 160px;
    padding: 16px;
    background-color: white;
}
.google-ads-pic{
    width: 48px;
    height: 48px;
}

.google{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 525px;
    left: 60px;
    padding: 16px;
    background-color: white;
}
.google-pic{
    width: 48px;
    height: 48px;
}