*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-section{
    width: 100%;
    height: 532px;
}

.top-section-content{
    width: 100%;
    height: 532px;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
}

/* #background-cont{
    width: 100%;
    height: 532px;
} */

/* .background-img{
    width: 100%;
    height: 532px;
} */

.img-divided{
    width: 100%;
    height: 532px;
}

.top-header{
    position: fixed;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 86px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    z-index: 10;;
}
.front-logo{
    height: 46px;
    width: 155px;
}

.heading-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 57px;
    padding-top: 6px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-right: 14px;
    border-right: 10px;
    gap: 30px;
}

/* nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    height: 25px;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-cont{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #677788;
}
.buy-now-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: #2476FF;
    border: #2476FF;
    padding: 15px 35px;
    gap: 20px;
    color: white;
}
.buy-now-button:hover{
    background-color: #FFFFFF;
    color: #2476FF;
    border: 2px solid #2476FF;
}

.hero-section{
    display: flex;
    position: absolute;
    top: 106px;
    display: flex;
    width: 100%;
    height: 446px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}    
.left-part{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 406px;
    gap: 20px;
}
.right-part{
    width: 47%;
    height: 406px;
}
.title{
    position: relative;
    top: 50px;
    width: 334px;
    height: 225px;
    gap: 11px;
}

.title-large{
    font-size: 40px;
    font-family: "Inter", sans-serif;
}
.title-small{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #677788;
}


.actions{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    width: 97.7%;
    height: 48px;
    gap: 24px;
    padding-left: 15px;
}
.fa-solid{
    gap: 10px;
    margin-right: 8px;
}
.play-button{
    width: 137px;
    height: 48px;
    border-radius: 30px;
    padding: 15px 25px;
    gap: 8px;
    background-color: #2476FF;
    color: white;
    border: #2476FF;
}
.play-button:hover{
    background-color: #FFFFFF;
    color: #2476FF;
    border: 2px solid #2476FF;
}

.asana{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50px;
    right: 125px;
    background-color: white;
    animation: slide-in 1s linear;
}
.asana-pic{
    width: 48px;
    height: 48px;
}
.calendar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 50px;
    right: 145px;
    padding: 16px;
    background-color: white;
    animation: slide-in-calendar 1s linear;
}

.calendar-pic{
    width: 48px;
    height: 48px;
}
.weave{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 180px;
    right: 260px;
    padding: 16px;
    background-color: white;
    animation: slide-in-weave 1s linear;
}
.weave-pic{
    width: 48px;
    height: 48px;
}

.paypal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 185px;
    right: 500px;
    padding: 16px;
    background-color: white;
    animation: slide-in-paypal 1s linear;
}
.paypal-pic{
    width: 48px;
    height: 48px;
}

.attlassian{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 325px;
    right: 325px;
    padding: 16px;
    background-color: white;
    animation: slide-in-atlassian 1s linear;
}
.attlassian-pic{
    width: 48px;
    height: 48px;
}

.google-ads{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 100px;
    right: 400px;
    padding: 16px;
    background-color: white;
    animation: slide-in-google-ads 1s linear;
}
.google-ads-pic{
    width: 40px;
    height: 40px;
}

.google{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50px;
    right: 480px;
    padding: 16px;
    background-color: white;
    animation: slide-in-google 1s linear;
}
.google-pic{
    width: 40px;
    height: 40px;
}

#why-front-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 354px;
    gap: 40px;
}

.why-front-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 89px;
    padding-right: 60px;
    padding-left: 60px;
    gap: 10px;

}
.why-large{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.why-small{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #677788;
}
.bullets-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 145px;

}
.bullet{
    width: 22%;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.front-title{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 4px;
}
.top-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.top{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: #ECF2FF; 
  color: blue; 
  font-weight: bold;
  float: left; 
}
.center-dot{
    font-size: 50px;
}
.right-wing{
  background-color:#E6E9F2;
  height: 2px;
  width: 37%;
}
.left-wing{
  background-color: #E6E9F2;
  height: 2px; 
  width: 37%;
}
.left-wing-first{
  background-color: #E6E9F2;
  height: 2px; 
  width: 37%;
  opacity: 0;
}
.right-wing-last{
  background-color:#E6E9F2;
  height: 2px; 
  width: 37%;
  opacity: 0;
}

#pricing-section{
    width: 100%;
    height: 692px;
    padding-bottom: 120px;
    gap: 60px;
    border: 2px blue;
}
.pricing-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
    margin-bottom: 70px;
    
}
.pricing-title-large{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.pricing-title-small{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #677788;
}

.plans-feature-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 452px;
}
.pricing-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 452px;
}
.plan-info{
    width: 38%;
    height: 452px;
    padding: 40px;
    gap: 50px;
    /* box-shadow: 0px 10px 20px #E2E2E2; */
}
.plan-info:hover{
    box-shadow: 0px 10px 20px #E2E2E2;
}
.plan-header{
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 194px;
    gap: 30px;
}
.plan-price{
    display: flex;
    align-items: end;
    width: 40%;
    height: 61px;
   
}
.plan-amount{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.plan-term{
    display: flex;
    align-items: end;
    width: 38%;
    height: 33px;
    padding-bottom: 9px;
    gap: 7px;
    font-family: "Inter", sans-serif;
    font-size: 20xpx;
    font-weight: 500;
    color: #677788;

}
.plan-divider{
    width: 100%;
    height: 1px;
    gap: 10px;
    background-color: #8D8D8D;

}
.plan-text{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #677788;
}
.plan-footer{
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 73px;
    gap: 10px;
}
.plan-button{
    width: 137px;
    height: 48px;
    border-radius: 30px;
    padding: 15px 25px;
    gap: 8px;
    background-color: #2476FF;
    color: white;
    border: #2476FF;
}
.plan-button:hover{
    background-color: #FFFFFF;
    color: #2476FF;
    border: 2px solid #2476FF;
}
.plan-footer-text{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.row-features{
    width: 55%;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-row-one{
    width: 100%;
    height: 219px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.plan-feature-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 219px;
    border: 1px;
}
.features-row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 219px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.item-content{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 179px;
    gap: 20px;
}
#components-1{
   width: 50px;
   height: 50px; 
}
#images-1{
   width: 50px;
   height: 50px; 
}
#cancel-1{
   width: 50px;
   height: 50px; 
}
#money-back-1{
   width: 50px;
   height: 50px; 
}
.title-text-large{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.title-text-small{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #677788;
}
.sketch-box{
    width: 60px;
    height: 23px;
    border-radius: 15px;
    background-color: #01C9A7;
    border: #01C9A7;
    padding: 4px 10px;
    gap: 10px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
}
.hire-us-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 708px;
    padding: 30px;
    background-color: #20335B;
}
.hire-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    height: 648px;
    border: 2px solid black;
    gap: 70px;
    padding-left: 65px;

}
.hire-right{
    width: 47%;
    height: 648px;
    border: 2px solid black;
}
.hire-left-top{
    width: 76%;
    height: 180px;
    gap: 32px;
}
.hire-left-bottom{
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 123px;
    gap: 20px;
}
.hire-us-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 34px;

}
.hire-us-top-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65px;
    gap: 15px;
}
#hire-us-top-divider{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}
.top-title-text-large{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
}
.top-title-text-small{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #677788;
}
.hire-us-phrase{
    width: 98%;
    height: 48px;
}
.phrase-text{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 45px;
}
.bottom-person{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43px;
    padding-right: 20px;
    gap: 4px;
}
.person-photo{
    width: 60px;
    height: 60px;
    gap: 30px;
}
.man-one{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.person-name{
    font-family: "Inter", sans-serif;
    font-weight:700;
    font-size: 18px;
    color: #FFFFFF;
}
.person-job-title{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #677788;
}
.hire-form-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    gap: 37px;
    background-color: #FFFFFF;
}
.form-heading-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: black;
    padding-bottom: 10px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    gap: 20px;
    margin-bottom: 25px;
}
.name-input{
    width: 47%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}
.email-input{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}
#budget-dd{
    width: 47%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}
#country-dd{
    width: 47%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}
#form-textarea{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
}
.form-group-last{
    display: flex;
    width: 100%;
    height: 76px;
    border-radius: 5px;
    gap: 16px;
}
.input-cont{
    width: 25px;
    height: 28px;
    padding-top: 4px;
    gap: 10px;
}
.input-checkbox{
    width: 25px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #E6E8F2;
}
.label-cont{
    display: flex;
    flex-direction: column;
    width: 89%;
    height: 76px;
    gap: 10px;
}
.label-text{
    width: 100%;
    height: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
}
.frame{
    display: flex;
    flex-direction: row;
    width: 84%;
    height: 22px;
    gap: 28px;
}
.ajax{
    width: 45%;
    height: 22px;
}
.frame-bottom-border-one{
    width: 100%;
    height: 1px;
    border: 1px dashed #677788;
}
.frame-bottom-border-two{
    width: 100%;
    height: 1px;
    border: 1px dashed #2476FF;
}
.ajax1-text{
    width: 100%;
    height: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #677788;
}
.ajax2-text{
    width: 100%;
    height: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #2476FF;
}
.form-actions{
    width: 26%;
    height: 45px;
    gap: 24px;
}
.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    padding: 15px 25px;
    gap: 8px;
    background-color: #2476FF;
    border: 1px solid #2476FF;
    color: #FFFFFF;
}
.form-button:hover{
    background-color: #FFFFFF;
    color: #2476FF;
    border: 2px solid #2476FF;
}
.footer-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 246px;
    padding: 40px 30px;
    gap: 40px;
}
.footer-frame{
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 166px;
    gap: 40px;
}
.frame14{
    display: flex;
    flex-direction: column;
    width: 26%;
    height: 94px;
    gap: 20px;
}
.footer-logo{
    width: 39%;
    height: 30px;
}
.footer-logo-photo{
    width: 100%;
    height: 30px;
}
.footer-nav{
    width: 100%;
    height: 44px;
    gap: 10px;
}
.frame15{
    display: flex;
    width: 69%;
    height: 166px;
    gap: 49px;
}

.menu-item-one{
    display: flex;
    width: 100%;
    height: 17px;
    gap: 9px;
}
.menu-item-two{
    display: flex;
    width: 59%;
    height: 17px;
    gap: 9xp;
}
.nav-icon{
    width: 11px;
    height: 14px;
    gap: 10px;
}
#nav-icon-icon{
    font-weight: 900;
    font-size: 14px;
    color: #677788;
}
.nav-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #677788;
    padding-left: 7px;
}
.nav-phone{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #2476FF;
    padding-left: 15px;
}
.frame16{
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 166px;
    gap: 20px;
}
.frame17{
    display: flex;
    flex-direction: column;
    width: 14%;
    height: 139px;
    gap: 20px;
}
.frame18{
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 166px;
    gap: 20px;
}
.frame19{
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 85px;
    gap: 20px;
}
.frame15-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.frame15-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    gap: 10px;
    color: #677788;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.we-hire-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 14px;
    border-radius: 3px;
    background-color: #2476FF;
    border: #2476FF;
    padding: 2px 4px;
    gap: 10px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 7.5px;
}
.frame16-menu-item{
    width: 100%;
    height: 17px;
    display: flex;
    gap: 10px;
}
.frame15-blue-text{
    color: #2476FF;
}
.frame19-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    gap: 6px;
    color: #677788;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.frame19-icon-cont{
    display: flex;
    width: 100%;
    height: 17px;
    gap: 9px;
}