

@keyframes slide-in{
    0% {
        top: 50px;
        right: 0;
    }
    25% {
        top: 50px;
        right: 25px;
    }
    50% {
        top: 50px;
        right: 60px;
    }
    75% {
        top: 50px;
        right: 100px;
    }
    100% {
        top: 50px;
        right: 125px;
    }
}

@keyframes slide-in-google{
    0% {
        top: 50px;
        right: 0px;
    }
    25% {
        top: 50px;
        right: 150px;
    }
    50% {
        top: 50px;
        right: 275px;
    }
    75% {
        top: 50px;
        right: 400px;
    }
    100% {
        top: 50px;
        right: 480px;
    }
}

@keyframes slide-in-google-ads{
    0% {
        bottom: 100px;
        right: 0px;
    }
    25% {
        bottom: 100px;
        right: 100px;
    }
    50% {
        bottom: 100px;
        right: 200px;
    }
    75% {
        bottom: 100px;
        right: 300px;
    }
    100% {
        bottom: 100px;
        right: 400px;
    }
}

@keyframes slide-in-atlassian{
    0% {
        bottom: 0px;
        right: 325px;
    }
    25% {
        bottom: 100px;
        right: 325x;
    }
    50% {
        bottom: 170px;
        right: 325px;
    }
    75% {
        bottom: 270px;
        right: 325px;
    }
    100% {
        bottom: 325px;
        right: 325px;
    }
}

@keyframes slide-in-paypal{
    0% {
        bottom: -100px;
        right: 500px;
    }
    25% {
        bottom: 0px;
        right: 500x;
    }
    50% {
        bottom: 75px;
        right: 500px;
    }
    75% {
        bottom: 120px;
        right: 500px;
    }
    100% {
        bottom: 185px;
        right: 500px;
    }
}

@keyframes slide-in-weave{
    0% {
        bottom: -100px;
        right: 260px;
    }
    25% {
        bottom: 0px;
        right: 260x;
    }
    50% {
        bottom: 75px;
        right: 260px;
    }
    75% {
        bottom: 120px;
        right: 260px;
    }
    100% {
        bottom: 180px;
        right: 260px;
    }
}

@keyframes slide-in-calendar{
    0% {
        bottom: -200px;
        right: 145px;
    }
    25% {
        bottom: -100px;
        right: 145x;
    }
    50% {
        bottom: 0px;
        right: 145px;
    }
    75% {
        bottom: 25px;
        right: 145px;
    }
    100% {
        bottom: 50px;
        right: 145px;
    }
}